body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#modeImage {
  width: 22vw;
}

#game-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

#sentence {
  display: flex;
  max-width: 80vw;
  max-height: 17vh;
  text-align: center;
  word-wrap: break-word;
  margin-top: 3vh;
  margin-bottom: 3vh;
  flex-wrap: wrap;
  justify-content: center;
  left: 10vw;
  gap: 0.5vw;
}

#mode {
  color: black;
  font-weight: bold;
  font-size: 4vh;
  line-height: 1;      /* Prevent excessive line spacing */
  margin-top: 0;       /* Remove extra top margin */
  margin-bottom: 0;    /* Optional: remove bottom margin */
  text-align: center;
}

.word {
  display: inline-block;
  font-size: 3vh;
  margin: 0 0.5vw;
}

.word-block {
  display: inline-flex;
  align-items: center;
}

.drop-box {
  width: 3vw;
  height: 4vw;
  border: 0.2vw dashed #aaa;
  font-size: 2.5vw;
  text-align: center;
  line-height: 4vw;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0.5vw;
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 5vw);
  grid-template-rows: repeat(6, 8.5vh);
  gap: 1vw;
  margin-bottom: 3vh;
  justify-content: center;
}

.box {
  width: 4vw;
  height: 8vh;
  text-align: center;
  font-size: 4vw;
  border: 0.2vw solid #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.viewSentence {
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: rgb(105, 102, 102);
  font-size: 2vh;
  padding: 0.5vh 1vw;
  cursor: pointer;
  border-radius: 0.5vh;
  border: none;
  height: 4vh;
  width: 10vw;    
  top: 50%;
  left: 50%;
  z-index: 10;
}

button[state="disabled"] {
  pointer-events: none;
  opacity: 0.5;
  background-color: lightgray;
  border-color: lightgray;
  cursor: not-allowed;
}

button[state="highlight"] {
  background-color: rgb(235, 71, 71);
}


#keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 2vh;
}

.key {
  width: 7vw;
  height: 7vh;
  font-size: 2vw;
  background-color: #ddd;
  border: none;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
}

.key:hover {
  background-color: #bbb;
}


#modeSentence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results, #controls {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
  width: auto;
  margin: 0 auto;
}

#enter-button:hover, #nextGuess:hover, #nextGame:hover, #level:hover {
  background-color: #1c693f;

}

#enter-button, #nextGuess, #nextGame, #level {
  display: flex;
  align-items: center; /* vertical centering */
  justify-content: center;
  margin-top: 5vh;
  gap: 8vh;
  width: 8vw;
  height: 7vh;
  border-radius: 0.5vw;
  background-color: #278751;
  font-size: 1.3vw;
  font-weight: bold;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-2vw); }
  40% { transform: translateX(2vw); }
  60% { transform: translateX(-2vw); }
  80% { transform: translateX(2vw); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease;
}

.newShake {
  animation: shake 0.4s ease-in-out;
}

#toast {
  visibility: hidden;
  min-width: 15vw;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 2vh;
  padding: 1vh;
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-size: 3vh;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  top: 7vh;
}  

.dragging-punctuation {
  width: 3vw;
  height: 4vw;
  border: 0.2vw dashed #aaa;
  font-size: 2.5vw;
  text-align: center;
  line-height: 4vw;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendarAndChart {
  display: flex;
  gap: 0.5em;
}

#myPlot {
  width: 20vw;
  padding-right: 1vw;
  padding-bottom: 1vh;
}

#calendar {
  width: 17vw;
}

#stats_totals {
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  background-color: rgb(241, 244, 244);
  font-size: 1.5vw;
  color: rgb(0, 0, 0);
  height: auto;  /* Allow height to grow based on content */
  justify-content: center;
  padding-top: 0.2vw;
  padding-bottom: 0.5vw;
  align-items: center;  /* Center all items horizontally */
  font-size: 2.5vh;
}

#stats_totals div {
  padding-right: 1vw;
  text-align: center;
}

#modeStats {
  text-align: center;
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 1vh;
}

#stat-row {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#played, #winpct {
  display: inline-block;
  font-size: 1.2em;
}


/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 10000; /* on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10vh; /* Place content distance from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  white-space: pre;
  padding: 2vh 2vh 2vh 5vh;
  text-decoration: none;
  font-size: 4.5vh;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 0vw;
  font-size: 4vw;
  margin-left: 5vw;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 2vw;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  padding-left: 0.2vw;
  border: none;     
  margin: 0vw;
}

.openbtn:hover, #statsbtn:hover, #infobtn:hover {
  background-color: #D3D3D3;
}

#statsbtn {
  font-size: 2vw;
  cursor: pointer;
  background-color: #f9f9f9;
  color: black;
  border: none;     
  margin: 0vw;
}

#infobtn {  
  font-size: 4vw;
  color: black;
  transform: translateY(-2em);
  width: 1.2em;
  height: 1.2em;

  display: flex;             /* centers content */
  align-items: center;       /* vertical center */
  justify-content: center;   /* horizontal center */
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.btn-group .button {
  background-color: #04AA6D; /* Green */
  border: 0.2vw solid green;
  color: white;
  padding: 1vw, 0.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  cursor: pointer;
  display: block;
  transform: translateX(8em);
}

.btn-group .button:hover {
  background-color: #3e8e41;
}

.btn-group div {    
  transform: translateX(8em);
  font-weight: bold;
  color: rgb(56, 56, 100);
}

.btn-close {
    background-color: rgb(241, 244, 244);    
}

.btn-close button {
    font-size: 1.1vw;
    padding: 0.1vw;
}

.overlay {
  border: 0.5vw solid black;
  border-radius: 0.7vw;
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  
  background-color: rgb(241, 244, 244);
  z-index: 20;
  cursor: grab;
}    

#instructionsContainer {
  background-color: rgb(241, 244, 244);
  max-width: 80vw;       /* Limit width to 80% of viewport */
  margin: 0 auto;        /* Center horizontally */
  text-align: center;    /* Center text inside */
  font-size: 1.5vw;
  color: black;
  padding: 1rem;         /* Optional padding inside container */
}

#instructionsText {
  margin: 0;
  padding: 0;
}


#info {
    display: block;
    background-color: rgb(241, 244, 244);
    width: 25vw;
    text-align: center;
    font-size: 1.5vw;
    color: black;
}

#info img {
    width: 20vw;
}


